
body{
    background-color:rgb(133, 180, 222);
}

.card span {
  color: gold;
  margin-left: 8px;
  font-size: 18px;
}

.produt-card figure{
width:100%;
height:250px;
overflow: hidden;
position: relative;
}

figure img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.produt-card figcaption{
    position: absolute;
    top:30%;
    left:0;
    width:100%;
    padding: 10px;
    height: 70%;
    background-color:rgba(0,0,0,.2);
    color:#fff;
    overflow-y: auto;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
}

.produt-card:is(:hover, :focus, :active) figcaption{
    transform: translateY(0%);

}

.produt-card h5{
  overflow:hidden ;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.rating {
  font-size: 22px;
}


